<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>generator | scantxt.app</title>
  <meta name="author" content="SitePoint">
  <meta property="og:title" content="generator | scantxt.app">
  <meta property="og:type" content="website">
  <link rel="stylesheet" href="/assets/css/styles.css?v=1.0">
</head>

<body>
  <div>
    {% block content %}{% endblock %}
  </div>
  <script src="/assets/js/scripts.js"></script>
</body>
</html>
